<!DOCTYPE html>
<html>
<head>
    <title>Node.js</title>
    <meta charset="utf-8" />
     {{!-- <link rel="stylesheet" href="../style.css">   --}}
</head>
<body style="margin:0px;">
    <form action="/film_actor" method="post">
        <input type="hidden" name="filmId" value="{{filmId}}">
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="actorId" id="actorId" value="">

        <select name="addactorId" id="addactorId" required>
        {{#each actors}}    
            {{#unless this.film_id}}
            <option value="{{this.actor_id}}">{{this.first_name}} {{this.last_name}}</option>
            {{/unless}}
        {{/each}}
        </select>
        <button onclick="action.value = 'add'" type="submit">Добавить</button>
        <br>

        <table>
        {{#each actors}}            
            {{#if this.film_id}}
            <tr>    
              <td>{{this.first_name}} {{this.last_name}}</td>
              <td><button onclick="action.value = 'delete'; actorId.value = {{this.actor_id}}" type="submit">Удалить</button></td>
            </tr>
            {{/if}}
        {{/each}}        
        </table>

    </form>
</body>
<html>